:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --blue: #5ccceb;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
}

.logo-container {
  background-color: #001529;
  padding: 15px;
  width: 100%;
}

.heading,
.home-title {
  color: var(--blue) !important;
}

.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}

.crypto-card-container {
  min-height: 65vh !important;
}
.crypto-card {
  min-width: 250px;
}
.crypto-card .crypto-image {
  width: 35px;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }

  .home-heading-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
    overflow: hidden;
  }
  .home-title {
    font-size: 1.4rem !important;
  }
}
