:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --blue: #5ccceb;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
}

/* Loader */
.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
.logo-container {
  background-color: #001529;
  padding: 15px;
  width: 100%;
}

/* Home */
.heading,
.home-title {
  color: var(--blue) !important;
}
.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

/* Cryptocurrencies */
.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}
.crypto-card-container {
  min-height: 65vh !important;
}
.crypto-card {
  min-width: 250px;
}
.crypto-card .crypto-image {
  width: 35px;
}

/* News */
.news-title {
  color: var(--blue);
  width: 70%;
}
.news-card p {
  color: black;
  margin: 10px 0px !important;
}
.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}
.news-image-container img {
  width: 100px;
  height: 100px;
}
.provider-container {
  display: flex;
  justify-content: space-between;
}
.provider-name {
  margin-left: 10px;
}

/* Crypto Details */
.coin-detail-container {
  margin: 30px;
}
.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}
.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--blue);
}
.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}
.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
}
.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}
.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--blue) !important;
}
.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}
.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}
.stats {
  font-weight: 800;
}
.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}
.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--blue) !important;
}
.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}
.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}
.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}
.coin-desc-link h2 {
  font-weight: 700;
  color: var(--blue);
}
.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}
.coin-desc-link a {
  color: var(--blue);
}
.coin-desc-link h3 {
  font-weight: 700;
}
.coin-desc {
  flex: 0.5;
}
.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}
.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}
.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}
.coin-link a {
  color: var(--blue);
  font-weight: 700;
  font-size: 1rem;
}
.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

/* Line Chart */
.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}
.chart-title {
  color: var(--blue) !important;
  /* color: #0071bd !important; */
}
.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.price-change {
  font-weight: 900 !important;
}
.current-price {
  margin-top: 0px !important;
  font-weight: 900 !important;
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
  .home-heading-container {
    flex-direction: column;
  }
  .select-news {
    width: 180px;
  }
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
    overflow: hidden;
  }
  .home-title {
    font-size: 1.4rem !important;
  }
}
